body {  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;/*choix de la couleur du background du site*/
  }

/*Step 2 : Navigation*/
.NavBar ul {
  display : flex;
  list-style: none; /*used to remove the points*/
}

.NavBar ul li{ /*ajustement auto de l espace entre les texts*/
  margin-left: auto;
  margin-right: auto;
}
.NavBar img { /*l ajustement du logo */
  height: 40px;
  width: 60px;
  
}
.NavBar ul li a{ /*cette partie sert a changer la couleur du text en noir + les mettres en gras + enlever le tiré du bas qui était sous les mots avec text decoration none*/
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.NavBar ul li a:hover {/*cette partie sert a faire l effet de hover avec changement de couleur*/
  background-color: rgb(0, 0, 0);
  color: #fdfdfd;
}

/*Step 3 : Breadcrumbs */
header ul{ /*utiliser flex pour que tout le mots s affiche l un acoté de l autre + list style none pour enlever le point*/

  display : flex;
  list-style: none;
}
header ul.Breadcrumbs li a{ 
  color: black;
  margin-right: 30px; 
}
header ul.Breadcrumbs li a:hover{/*hover pour breadcrumbs*/
  background-color: rgb(0, 0, 0);
  color: #fdfdfd;
}
header ul.Breadcrumbs li a.TxT1 { /*créer pour decaler le mot USED DVDS du "/"*/
  margin-left: 30px;
}
header ul.Breadcrumbs li a.TxT2 { /*créer pour decaler le mot LESS THAN €10 du "/"*/
  margin-left: 30px;
}

/*Step 4 : Titre de la page et introduction */
section h1{/*titre*/
  font-size: 25px;
  margin-left: 39px;
}
section p{ /*introduction */
  margin-left: 39px;
  width: 50%;
  
}







